/*
*  Light then syntax highlighter for phpMSH
*/
.syn_code {
  direction: ltr;
}

#syn_code {
  direction: ltr;
  font-size: 10pt;
}

.syn_keyword {
  color:#4f89b9;
  font-weight: bold;
}

.syn_identifier {
  color:#97bace;
  font-weight: normal;
}

.syn_number {
  color:#9ac7a2;
  font-weight: bold;
}

.syn_string {
  color:#9ecc91;
  font-weight: bold;
}

.syn_string2 {
  color:#a6ce9f;
  font-weight: bold;
}

.syn_symbol {
  color:#c5d3e4;
  font-weight: bold;
}

.syn_object {
  color:#e4d6a3;
  font-weight: bold;
}

.syn_comment1 {
  color:#a3a5a3;
  font-weight: bold;
}

.syn_comment2 {
  color:#a3a5a3;
  font-weight: bold;
}

.syn_comment3 {
  color: #a3a5a3;
  font-weight: bold;
}

.syn_directive {
  color:#e46b6b;
  font-weight: bold;
}

.syn_variable {
  color:#aeaeff;
  font-weight: normal;
}

.syn_value {
  color: #000090;
  font-weight: normal;
}

.syn_datatype {
  color:#D69FD7;
  font-weight: normal;
}