/*
*  Light then syntax highlighter for phpMSH
*/
.syn_code {
  direction: ltr;
}

#syn_code {
  direction: ltr;
  font-size: 10pt;
}

.syn_keyword {
  color:#99bbd7;
  font-weight: bold;
}

.syn_identifier {
  color:#ebf1f5;
  font-weight: normal;
}

.syn_number {
  color:#9ac7a2;
  font-weight: bold;
}

.syn_sq_string {
  color:#9ecc91;
  font-weight: bold;
}

.syn_dq_string {
  color:#a6ce9f;
  font-weight: bold;
}

.syn_symbol {
  color:#f3efb6;
  font-weight: bold;
}

.syn_object {
  color:#e4d6a3;
  font-weight: bold;
}

.syn_sl_comment {
  color:#a3a5a3;
  font-weight: bold;
}

.syn_ml_comment {
  color:#a3a5a3;
  font-weight: bold;
}

.syn_directive {
  color:#e46b6b;
  font-weight: bold;
}

.syn_variable {
  color:#aeaeff;
  font-weight: normal;
}

.syn_value {
  color:#dac161;
  font-weight: normal;
}

.syn_datatype {
  color:#D69FD7;
  font-weight: normal;
}